.container_card{
width:100%;
height:100%;
}
.card{
flex-direction:row;
flex-wrap:wrap;
align-items:center;
justify-content:space-evenly;
gap : 30px;
margin:20px 10vw 0;

}
.card_img{
width: 300px;
margin: auto;
background-color: navajowhite;
border-radius: 5px 5px 0px 0px;
padding: 5px;
box-shadow: 1px 1px 4px #0c0a04;
}
.t_description{
    text-align: left;
    font-weight: bold;
}
.description{
    text-align: left;
}
.info{
background-color: navajowhite;
border-radius: 5px;
box-shadow: 1px 1px 4px #0c0a04;
padding: 10px;
font-size: 20px;
font-family: cursive;
}
.prezInfo{
display: flex;
justify-content: center;
}
.ul_caracteristique{
    list-style-type: none;
    margin: 0px 25px 0px 25px !important;
}
.li_caracteristique{
    display: flex;
    font-weight: bold;
    margin-bottom: 23px;
}
.li_caracteristique p{
    margin-bottom: 0px;
}
.stats{
    background-color: navajowhite !important;
    font-weight: bold;
}
.evolutions{
    margin: 10px;
    display: flex;
    list-style-type: none;
    align-items: center;
}
.t_evolution{
    font-family: cursive;
    margin: 5px;
}
.evolutions li{
    margin: auto;
}