body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  header {
    background-color: #eab122;
    overflow: auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header a {
    color: black;
    text-decoration: none;
  }
  a, a:hover {
    color: inherit;
    text-decoration: none;
  }
  #root {
    margin: 0;
    max-width: none;
    padding: 0;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  
  
  
  
  